<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdb6kcCZAakUq2KuyMKMK6WXdUSnM8lHk</string>
	<key>GCM_SENDER_ID</key>
	<string>882033544453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramclone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-61e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-61e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882033544453:ios:a839dbd3fe8d56532c3b6c</string>
</dict>
</plist>